html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:after, :before, :hover{
	box-sizing: border-box;
}

/********* HEADER *********/
body{
	overflow-x: hidden;
}
img{
	display: inline-block;
}
header{
	margin: 0 auto;
	width: 1200px;
	padding: 0 15px;
}
.container{
	background-color: #085291;
	margin: 0 -999999px;
	padding: 0 999999px;
	float: right;
}
li{
	display: inline-block;
	padding: 10px 0;
}
.header__left,.header__right{
	display: inline-block;
}
.header__left__link,.header__right__link{
	color: #5fb5ec; /* text color */
	padding: 9px;
}
.header__right__link{
	color: #fff;
}
.always__blue,.header__left__link:hover,.header__right__link:hover{
	color: #fff;
	background-color: #4eabda;
}
.always__blue{
	padding-top: 11px;
}
.header__right{
	border-left: 1px solid #56a2dc;
}
.no__underline{
	text-decoration: underline;
}
.no__underline:hover{
	text-decoration: none;
}
.fa-flag{
	margin: 0 10px
}
/********* END__HEADER *********/


/*----------------------lena_code--------------------------*/
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}
.clearfix {
   zoom: 1;
}
ul{
  font-size: 0;
}
ul li{
  list-style-type: none;
  font-size: 14px;
}
a{
  text-decoration: none;
}
input{
	outline: none;
	border: none;
}

@font-face {
		font-family: "FontAwesome";
		font-weight: normal;
		font-style : normal;
					 src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
					 src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
								 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
								 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
								 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
								 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
body{
	background: url("../img/index/background.jpg") no-repeat center #aeccd7;
	background-size: cover;
	position: relative;
	font-family: 'HelveticaNeue-Medium', sans-serif;
	font-size: 14px;
}
.form_content{
	margin: 200px auto;
	width: 560px;
	height: 614px;
	background: rgba(0, 0, 0, 0.63);
	color: #ccc;
	text-align: center;
}
.form_content form{
	width: 50%;
	margin: 0 auto;
}
.facebook{
	background: #3b5699;
	background: -moz-linear-gradient(top,  #3b5699 0%, #2e7ac4 100%);
	background: -webkit-linear-gradient(top,  #3b5699 0%,#2e7ac4 100%);
	background: linear-gradient(to bottom,  #3b5699 0%,#2e7ac4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5699', endColorstr='#2e7ac4',GradientType=0 );
	display: block;
	width: 100%;
	border-radius: 3px;
	color: #fff;
	padding: 10px 0;
	margin: 34px 0;
	border-top: 1px solid #7388b7;
	font-weight: bold;
	position: relative;
	transition: 0.5s ease;
}
.facebook span{
	font-weight: normal;
}
.facebook:hover{
	background: #2e7ac4;
	background: -moz-linear-gradient(top,  #2e7ac4 0%, #3b5699 100%);
	background: -webkit-linear-gradient(top, #2e7ac4 0%,#3b5699 100%);
	background: linear-gradient(to bottom,  #2e7ac4 0%,#3b5699 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7ac4', endColorstr='#3b5699',GradientType=0 );
	transition: 0.5s ease;
}
.facebook div{
	border-right: 1px solid #4e66a2;
	width: 40px;
	position: relative;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.facebook div::before{
	font-family: FontAwesome;
	content: '\f09a';
	font-size: 20px;
	line-height: 1.7;
}
.facebook div::after{
	content: '';
	height: 100%;
	width: 1px;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	background: #1f3d71;
}
.facebook::before{
	font-family: FontAwesome;
	content: '\f054';
	position: absolute;
	top: 0;
	right: 25px;
	line-height: 2.9;
	font-size: 12px;
}
.form_content h2{
	border-bottom: 2px solid #c3c7b9;
	font-size: 24px;
	padding: 19px 0;
}
.form_content .title{
	color: #999999;
	position: relative;
	margin: 20px 0;
	display: block;
}
.form_content .title::before{
	position: absolute;
	top: 5px;
	left: 0;
	content: '';
	background: url('../img/index/title_bg.png');
	width: 120px;
	height: 2px;
}
.form_content .title::after{
	position: absolute;
	top: 5px;
	right: 0;
	content: '';
	background: url('../img/index/title_bg.png');
	width: 120px;
	height: 2px;
}
/*----------------------end lena_code--------------------------*/


/*----------------------oleg_code--------------------------*/

form{
	position: relative;
}

input{
	font-size: 14px;
	margin-bottom: 20px;
}

input[type="text"], input[type="password"]{
	line-height: 35px;
	width: 275px;
	padding-left: 20px;
	background: #000;
	border-bottom: 1px solid #494949;
}

input:focus::-webkit-input-placeholder, input{
	color: #fff;
}

input:focus{
	border-bottom: 1px solid #689bcc;
	background-image: linear-gradient(to top, #1b5288 0%, #1b5288 100%);
	box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2),
	0 0 9px rgba(47, 123, 197, 0.77), inset 0 0 2px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]{
	vertical-align: bottom;
	position: absolute;
	left: 0;
}

input[type="checkbox"]+p{
	margin-left: -10px;
}

input[type="submit"]{
	width: 151px;
	height: 35px;
	background: linear-gradient(to bottom, #4faddb, #3c8fce, #2e7ac4);
	border: 1px solid rgba(255,255,255, 0.1);
	border-radius: 3px;
	box-shadow: inset 0 2px 0 0 #66c5e5;
}

input[type="submit"]:hover{
	background: linear-gradient(to top, #4faddb, #3c8fce, #2e7ac4);
}

form+p{
	font-size: 11px;
}

/*----------------------end oleg_code--------------------------*/